
IntroductionToTensorFlowForAI/lectureSlides
IntroductionToTensorFlowForAI/videos
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/Week3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Exercises/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/Week 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercises/TensorFlow In Practice/.DS_Store

IntroductionToTensorFlowForAI/NotebooksAndExercises/.ipynb_checkpoints/

.gitignore~
