
IntroductionToTensorFlowForAI/lectureSlides
IntroductionToTensorFlowForAI/videos
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/Week3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Exercises/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/Week 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/Course 3/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/.DS_Store
IntroductionToTensorFlowForAI/NotebooksAndExercizes/TensorFlow In Practice/.DS_Store

IntroductionToTensorFlowForAI/.ipynb_checkpoints/

.gitignore~
